/* I found flexbox to be very useful during the lat lab, so I wanted to use it again here.
*/

header, main, footer{
  width: 900px;
  margin-right: auto;
  margin-left: auto;
}

header h1 {
font-family: 'Yellowtail', cursive;
margin: 0em 1em;
}

header h4 {
  font-size: 9px;
  margin: 0em .4em;
  }
  
header ul {
  display: flex;
  justify-content: right;
  margin-top: 2.5em;
  margin-left: 10px;
}

#righthead {
  /* display: flex;
  flex-direction: row; */
  justify-content: right;
}

#rightbodyhead {
  display: flex;
  flex-direction: row;
  align-items: center;
}

main p {
text-align: left;
font-size: 1em;
text-indent: 2em;
}

main article img {
  justify-content: right;
}

#recipe {
columns: 2;
-webkit-columns: 2;
-moz-columns: 2;
background: url('../lab-assets/list-bg.png') no-repeat fixed center;
}

.hr {
 width: 900px;
 height: 10px;
 margin-top: 50px;
}

#footer-p {
  /* text-align: center; */
  /* justify-content: right; */
}

#fork-knife{
  height: 2.5em;
}

#header-flex-horizontal{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#header-flex-logo{
  display: flex;
  flex-direction: row;
  align-items: center;
}

#delicious-text{
  display: flex;
  flex-direction: column;
  margin: 0em .4em;
  align-content: flex-start;
}

#recipe{
  display: flex;
  flex-direction: row;
}

#recipe-title-header{
  display: flex;
  flex-direction: row;  
  justify-content: space-between;
}

#print-button{
  display: flex;
  flex-direction: row;
  align-items: center;
}

#print-image{
  height: 15px;
}

#print-text{
  margin: 0em .5em;
}

#footer-flex{
  display: flex;
  flex-direction: row;
  align-items: center;
}

#vanessa-img{
  height: 80px;
  width: 80px;
}

#name-summary-flex{
  margin: 0em 1em;
}

#share-button{
  width: 200px;
  background-color: #AA3333;
  text-align: center;
  color: #FFFFFF;
}

#copy-footer{
  text-align: center;
  margin-top: 50px;
}